$primary: #ff0000;
$secondary: #e20909;
$white:#f8f9f7;
$primary-light:#4b7ffb33;
$primary-ex-light:#4b7ffb1a;

$color-1:#2196f333;
$color-2:#fe636e33;
$color-3:#ffdd4033;
$reviews-bg:#ede4fe;

$btn:#64ce0e;
 
$treatmentcardbg:#f7f8f9;


